<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MCS_POS.Kasir.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>

    <userSettings>
        <MCS_POS.Kasir.Properties.Settings>
            <setting name="ID_Departemen" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="PrinterName" serializeAs="String">
                <value />
            </setting>
            <setting name="PrinterSpace" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="VKeyboardLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VKeyboardTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VNumpadLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VNumpadTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="BrowseItemFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="BrowseItemFormSize" serializeAs="String">
                <value>800, 600</value>
            </setting>
            <setting name="RefundFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="RefundFormSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MainFormSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </MCS_POS.Kasir.Properties.Settings>
    </userSettings>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>
